.dark {
  --accent: #bcbaef; /* lavender */
  --green: #ace6b4; /* green */
  --text: #fde8ff; /* text */
  --foreground: #1c121e; /* crust */
  --background: #2c1c2e; /* base */
  --outside: #1c121e; /* crust */
  --post: #1c121e; /* crust */
  --panel-border: none;
  --highlighted: #3d2740; /* surface0 */
  --visited: #7f5182; /* overlay0 */
  --shadow: 0 0 0 transparent;

  --nsfw: #f5b1a8; /* peach */
  --admin: #e684a1; /* maroon */
}
